<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mở tài khoản</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="registerForm" (ngSubmit)="doRegister()">
    <ion-list class="no-header-form">
      <ion-item>
        <ion-label floating>Họ Tên</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <p class="field-error" *ngIf="registerForm.get('name').dirty && registerForm.get('name').hasError('required')">
        Họ tên là bắt buộc
      </p>
      <ion-item>
        <ion-label floating>Địa chỉ email</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>
      <p class="field-error" *ngIf="hasRequired('email')">
        Email là bắt buộc
      </p>
      <p class="field-error" *ngIf="hasApiError('email')">
        {{apiErrorMessage('email')}}
      </p>
      <ion-input-mask
        label="Điện thoại"
        type="tel"
        prefix="+84 "
        placeholder="+84 xxx-xxx-xxx"
        typeLabel="stacked"
        formControlName="phone"
        [mask]="mask">
      </ion-input-mask>
      <p class="field-note">
        Ví dụ: +84 912-345-678 hoặc +84 123-456-7890
      </p>
      <p class="field-error" *ngIf="hasRequired('phone')">
        Điện thoại là bắt buộc
      </p>
      <p class="field-error" *ngIf="hasApiError('phone')">
        {{apiErrorMessage('phone')}}
      </p>

      <ion-item>
        <ion-label floating>Tài khoản đăng nhập</ion-label>
        <ion-input formControlName="username"></ion-input>
      </ion-item>
      <p class="field-error" *ngIf="hasRequired('username')">
        Tên đăng nhập là bắt buộc
      </p>
      <p class="field-error" *ngIf="hasApiError('username')">
        {{apiErrorMessage('phone')}}
      </p>

      <ion-item>
        <ion-label floating>Mật khẩu</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <p class="field-error" *ngIf="hasRequired('username')">
        Tên đăng nhập là bắt buộc
      </p>
    </ion-list>
    <a (click)="goLogin()" float-left>Đã có tài khoản?</a>
    <button ion-button type="submit" float-end>
      <span>Đăng ký</span>
    </button>
  </form>
</ion-content>
