ion-icon {
  &[class*="custom-"] {
    background-size: contain;
    width: 1em;
    height: 1em;
  }
  &[class*="custom-sms_verify"] {
    mask-image: url(../assets/icons/sms_verify.svg);
  }
}

.field-error {
  color: color($colors, 'danger');
  margin: 5px 0;
}

.field-note {
  color: gray;
  margin: 5px 0 0 0;
  font-size: 90%;
}

ion-list.no-header-form {
  ion-item {
    border-top: none !important;
    padding-left: 0 !important;
  }
}

.app-menu {
  .item-md [item-left],
  .item-md [item-right],
  .item-md [item-start],
  .item-md [item-end] {
    margin: 9px 0;
    color: gray;
  }

  .item-md ion-icon[item-left] + .item-inner,
  .item-md ion-icon[item-left] + .item-input,
  .item-md ion-icon[item-start] + .item-inner,
  .item-md ion-icon[item-start] + .item-input {
    margin-left: 12px;
  }
}

ion-input-mask.ng-invalid {
  &:not(.ng-pristine) {
    ion-item {
      &:not(.item-has-focus) {
        .item-inner {
          border-bottom-color: #f53d3d !important;
          -webkit-box-shadow: inset 0 -1px 0 0 #f53d3d !important;;
          box-shadow: inset 0 -1px 0 0 #f53d3d !important;;
        }
      }
    }
  }
}
